/* color palette from <https://github.com/vuejs/theme> */

:root {
    --color-btn-red: #ff6961;
    --color-btn-green: #579981;
    --color-price: #ee4d2d;
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;
    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;
    --vt-c-indigo: #2c3e50;
    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

body {
    max-width: 1500px;
    min-height: 100vh;
    color: var(--vt-c-black);
    background-color: #white;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--color-btn-red) !important;
}

.breadcrumb a {
    color: var(--color-btn-red);
    text-decoration: none;
}

.color-red-primary {
    color: var(--color-btn-red);
}